html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
    overflow: auto;
    background: linear-gradient(to bottom, #E5FCF5 0%, #7AA7A6 100%);

    font-family: 'Jost', sans-serif;
}

.name {
    font-family: 'Jost', sans-serif;
    font-weight: bold; 
    margin-bottom: 2px;
}

.wrapper {    
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left, .right {
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mate', serif;
}

.left {
    align-items: left;
    justify-content: center;
}



.socials {
    font-family: 'Mate', serif;
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}
  
.socials li {
    display: inline-block;
    margin-right: 8px;
}
  
.socials a {
    text-decoration: none;
    padding: 4px;
}
  
.socials a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


