html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
}

.wrapper {    
    display: flex;
    flex-direction: row;
    height: 80%;
}

.left {
    align-items: center;
    justify-content: center;
}

